/* 
    General Styles
*/

:root {
    --primary-color: #6fc76f;
    --primary-font: #AAAAAA;
    --title-font: #181818;
    --border: #f1a025;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}

html {
    font-size: 62.5%;
}

button {
    font-family: inherit;
}

.hidden {
    display: none;
}
.gap-t-30{
    margin-top: 30px;
}
.gap-t-20{
    margin-top: 20px;
}
.gap-t-10{
    margin-top: 10px;
}
.gap-b-30{
    margin-bottom: 30px;
}
.gap-b-20{
    margin-bottom: 20px;
}
.gap-b-10{
    margin-bottom: 10px;
}

.custom-p {
    margin: 0;
}
.name-typography{
    font-weight: 600;
    font-size: 1.6em;
    color: var(--title-font);
    
}
.last-name-typography{
    font-weight: 300;
    font-size: 1.6em;
    color: var(--title-font);
}
.job-title-typography{
    font-weight: 300;
    font-size: 1em;
    color: var(--title-font);
}
.company-typography{
    font-weight: 300;
    font-size: 1em;
    color: var(--title-font);
}
.custom-p{
    margin: 0;
}
.button-outline{
    -webkit-appearance: none;
    border: 3px solid var(--primary-color);
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-bottom: 19px;
    border-radius: 15px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s;
}
.button-outline:hover {
    box-shadow: 1px 2px 5px #a3a3a3;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    margin-bottom: 19px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.primary-button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    margin-bottom: 19px;
    background-color: var(--primary-color);
    border-radius: 15px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;
}

.primary-button:hover {
    background-color: #9ad89ada;
    box-shadow: 1px 2px 5px #a3a3a3;
}