.card{
    border: 1px solid var(--primary-font);
    border-radius: 10px;
    padding: 20px;;
    min-height: 160px;
    aspect-ratio: 16 / 10;
}
.card-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-front{
    display: block;
    width: 60%;
    padding-left: 10px;
}
.company-logo img{
    width: 100%;
    margin: 0px 20px 0px 0px;
}
.company-logo{
    width: 40%;
    padding: 10px;
}
.gap-30{
    margin-top: 30px;
}

@media (min-width: 1024px) {

}