.share-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.share-container figure {
    width: 40%;
    min-width: 300px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-container img {
    width: 100%;
    border-radius: 10px;
}

.share-container button {
    width: 40%;
    min-width: 300px;
}