.stats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.graph-container {
    width: 100%;
    max-height: 183px;
}

.graph-filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.graph-filter button {
    width: 20%;
    font-size: 1.2rem;
    margin: 0;
}